<h1>Todos</h1>

<h2>Todos from the local storage</h2>
<div class="todos">

  <ul>

    <li *ngFor="let todo of todos">{{todo.text}}</li>

  </ul>

  <label for="createTodo">Add new Todo</label>
  <input id="createTodo" name="createTodo" type="text" [(ngModel)]="newTodo.text" />
  <button (click)="storeTodo()">Store</button>

</div>

<h2>Todos from the remote server</h2>
<div class="remoteTodos" style="float: left">

  <ul>

    <li *ngFor="let todo of remoteTodos">{{todo.text}}</li>

  </ul>

</div>
